body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #F6F1F1;
}

.con {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 30vw 70vw;
    /* border: 1px solid red; */
}

.left-subcon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    height: inherit;
}

.rank-con {
    width: 90%;
    height: 90%;
    overflow: scroll;
    border: 1px solid #27799e;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    color: #27799e;
    background-color: #afd3e2;
}

.rank-con::-webkit-scrollbar {
    display: flex;
    /* background-color: red; */
}


.rank-con h3 {
    /* width: 100%; */
    /* height: 10%; */
    padding: 0;
    margin: 0;
    /* border: 1px solid green; */
}

.rank-con table {
    /* border: 1px solid gray; */
    margin-top: 5px;
    width: 100%;
}

.rank-con table td,
.rank-con table th {
    text-align: center;
}

#currentRankCon {
    display: none;
    justify-content: start;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #f6f1f1;
}

#currentRankCon p {
    padding: 10px;
    margin: 0;
}

.right-subcon {
    display: flex;
    justify-content: center;
    align-content: center;
    /* border: 1px solid green; */
    flex-wrap: wrap;
    height: inherit;
}

.right-subcon h1 {
    color: #146c94;
}

.btn-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 10%;
    margin: 5px;
    /* border: 1px solid rgb(128, 75, 0); */
    border-radius: 7px;
    text-align: center;
    padding: 10px;
    transition: all .2s ease;
    color: #27799e;
    background-color: #afd3e2;
}

.btn-main:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #27799e;
}

.btn-main-anim,
.accountSideBarBtn-anim {
    animation-name: btnMainAnim;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.btn-main p {
    position: absolute;
    right: -200px;
}

#levelSelector {
    width: 30%;
    height: 10%;
    margin: 5px;
    padding: 10px;
    text-align: center;
    /* background-color: white; */
    /* border: 1px solid rgb(128, 75, 0); */
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: #27799e;
    /* background-color: #f6f1f1; */
    background-color: transparent;
}

/* bagian modal untuk login atau daftar */
.modalAccount {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    display: none;
}

.modalAccount2 {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    display: none;
}

.modalAccount-con {
    background-color: white;
    width: 30%;
    height: 80%;
    box-shadow: 3px 3px 15px -8px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
}

.modalAccount-con h3 {
    padding: 0;
    margin-block: 10px;
}

.modalAccount-con input {
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 20px;
    margin-block: 10px;
    width: 70%;
    padding: 5px;
}

.modalAccount-con button {
    font-size: 20px;
    padding-inline: 25px;
    padding-block: 10px;
    margin-block: 10px;
    border-radius: 7px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

#accountAlert {
    color: red;
    padding: 0;
    margin-block: 10px;
    font-size: 15px;
    text-align: center;
    width: 70%;
    padding-inline: 5px;
    display: none;
}

.modalAccount-con-btnClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

/* spacer untuk flex */
.spacer {
    width: 100%;
}

/* bagian button untuk membuka sidebar */
.menuBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    display: none;
    /* background-color: red; */
}

.menuBtn svg {
    width: inherit;
    height: inherit;
    padding: 0;
}

/* bagian sidebar */
.sideBar {
    background-color: #F6F1F1;
    width: 80vw;
    height: 100vh;
    position: fixed;
    top: 0;
    border-right: 1px solid rgb(205, 205, 205);
    display: none;
    justify-content: center;
    transform: translateX(-100vh);
    transition: all .5s;
    z-index: 1;
}

.sideBar-closeBtn {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
}

.sideBar-closeBtn svg {
    width: inherit;
    height: inherit;
}

.sideBarBlackPart {
    background-color: rgba(0, 0, 0, .8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 0;
    display: none;
}

/* bagian loading spinner */
.loadingContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    /* backdrop-filter: blur(5px); */
}

.loadingContainer .spinner-border {
    width: 100px;
    height: 100px;
    font-size: 50px;
}

/* bagian button akun */
.accountBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    border: 2px solid gray;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.accountBtn svg {
    width: inherit;
    height: inherit;
    color: gray;
    margin-top: 9px;
}

/* bagian sideBar akun */
.accountSideBar {
    position: fixed;
    top: 70px;
    right: 50px;
    background-color: #F6F1F1;
    box-shadow: 0px 0px 15px -7px;
    width: 300px;
    height: 50vh;
    border-radius: 20px;
    border-top-right-radius: 0;
    /* transition: all .5s ease; */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.accountSideBarBtn {
    width: 50%;
    height: 80px;
    background-color: #afd3e2;
    margin-block: 10px;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #27799e;
    transition: all .2s ease;
    cursor: pointer;
}

.accountSideBarBtn2 {
    width: 50%;
    height: 80px;
    background-color: #afd3e2;
    margin-block: 10px;
    border-radius: 20px;
    font-size: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    color: #27799e;
    transition: all .2s ease;
    cursor: pointer;
    margin-left: 15px;
}

.accountSideBarInfo1,
.accountSideBarInfo2 {
    font-size: 15px;
    padding-left: 15px;
    color: #27799e;
}

.bg-img {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img img {
    width: 100%;
    height: 100%;
    /* animation-name: fadeMainBg; */
    /* animation-duration: 10s; */
    /* animation-iteration-count: infinite; */
    filter: grayscale(70%);
}

.bg-img-cover {
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: grayscale(80%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

/* responsive media query */
@media(max-width: 768px) {
    .modalAccount-con {
        width: 90%;
    }

    .left-subcon {
        display: none;
    }

    .con {
        grid-template-columns: 100vw;
        color: #146c94 !important;
    }

    .btn-main,
    #levelSelector {
        width: 50%;
    }

    .menuBtn {
        display: flex;
    }

    .rank-con {
        margin-top: 50px;
    }

    .sideBar {
        display: flex;
    }
}

/* animasi */
@keyframes btnMainAnim {
    0% {
        transform: scaleX(100%);
    }

    50% {
        transform: scaleX(105%);
    }

    100% {
        transform: scaleX(100%);
    }
}

@keyframes fadeMainBg {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}