html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(238, 238, 238);
    user-select: none;
}

#headc {
    width: 100%;
    height: 60vh;
    background-color: red;
    overflow: hidden;
    position: relative;
}

#headimg {
    width: 100%;
    filter: invert(15%);
    transform: scale(200%);
}

#imgfilter {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

#subheadc {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#subheadc p {
    margin: 50px;
    padding: 0;
    font-size: 80px;
    color: white;
}

#linkc {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 5px;
    display: flex;
}

#linkc p {
    margin: 0;
    padding: 0;
    margin-inline: 5px;
    font-size: 20px;
    color: white;
    transition: opacity 0.5s;
}

#linkc p:hover {
    cursor: pointer;
    opacity: 50%;
}

#linkc a {
    text-decoration: none;
    color: white;
}

#bestc {
    padding-block: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bestctitle {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bestctitle p {
    margin: 0;
    margin-bottom: 70px;
    padding: 0;
    font-size: 40px;
    border-left: 1px solid black;
    padding-left: 5px;
}

.bestcard {
    width: 300px;
    height: 300px;
    margin-inline: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-radius: 7px;
    box-shadow: 5px 5px 15px -10px;
    overflow: hidden;
    transition: transform 0.3s;
    /* background-color: rgb(231, 231, 231); */
}

#bestcenter {
    width: 350px;
    height: 350px;
}

.bestcard:hover {
    cursor: pointer;
    transform: scale(105%);
}

.bestcard img {
    width: 100%;
    height: 80%;
}

.bestcard p {
    font-size: 20px;
    margin-right: 20px;
}

#aboutc {
    width: 100%;
    padding-block: 300px;
    display: flex;
    justify-content: center;
    background-image: url(img/head3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
}

#aboutcfilter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: invert(35%);
}

#aboutc p {
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
    z-index: 1;
}

#newsc {
    padding-top: 150px;
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#newsctitle {
    width: 70%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

#newsctitle p {
    margin: 0;
    padding: 0;
    font-size: 40px;
    border-left: 1px solid black;
    padding-left: 5px;
}

#newsslidec {
    width: 70%;
    height: 250px;
    /* background-color: blue; */
}

#subnewsslidec {
    height: 70vw;
    width: 250px;
    /* background-color: aqua; */
    transform: rotate(-90deg) translateX(-250px);
    transform-origin: left top;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

#subnewsslidec::-webkit-scrollbar {
    display: none;
}

.sub {
    width: 300px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    transform: rotate(90deg) translateY(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    background-image: url(img/head1.jpg);
    background-size: cover;
    transition: opacity 0.5s, transform 0.5s;
    border-radius: 7px;
    box-shadow: 5px 5px 15px -5px black;
}

.sub:hover {
    cursor: pointer;
    opacity: 50%;
    transform: rotate(90deg) translateY(25px) scale(105%);
}

.lastindi {
    height: 100px;
    margin-inline: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#storec {
    width: 100%;
    padding-block: 150px;
    display: flex;
    justify-content: center;
}

#substorec1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#storectitle {
    width: 100%;
    display: flex;
    justify-content: center;
}

#storectitle p {
    margin: 0;
    margin-bottom: 70px;
    padding: 0;
    font-size: 40px;
    border-left: 1px solid black;
    padding-left: 5px;
}

.substorec2 {
    margin-inline: 10px;
}

.substorec2 p {
    font-size: 20px;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s;
}

.substorec2 p:hover {
    cursor: pointer;
    opacity: 50%;
}

#socialmediac {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-block: 50px;
    /* background-color: red; */
}

#socialmediac p {
    margin: 0;
    padding: 0;
    font-size: 17px;
}

#btntop {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btntop p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
    cursor: pointer;
    user-select: none;
}

@media(orientation: portrait) {
    #headc {
        height: 30vh;
    }

    #subheadc,
    #linkc {
        justify-content: center;
    }

    .bestcard {
        margin-block: 50px;
    }

    #bestcenter {
        width: 300px;
        height: 300px;
    }

    #aboutc p {
        font-size: 25px;
        width: 90%;
    }

    #aboutc {
        background-attachment: scroll;
        background-size: cover;
    }

    #newsslidec {
        width: 100%;
    }

    #subnewsslidec {
        height: 100vw;
    }

    .sub:hover {
        opacity: 100%;
        transform: rotate(90deg) translateY(25px) scale(100%);
    }

    .lastindi {
        display: none;
    }

    #substorec1 {
        width: 90%;
    }
}