html
{
    scroll-behavior: smooth;

}
body
{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#headc
{
    width: 100%;
    height: 60vh;
    background-color: red;
    overflow: hidden;
    position: relative;
}
#headimg
{    
    width: 100%;
    filter: invert(15%);
    transform: scale(200%);
}
#imgfilter
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
#subheadc
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#subheadc p
{
    margin: 50px;
    padding: 0;
    font-size: 80px;
    color: white;
}
#linkc
{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 5px;
    display: flex;
}
#linkc p
{
    margin: 0;
    padding: 0;
    margin-inline: 5px;
    font-size: 20px;
    color: white;
    transition: opacity 0.5s;
}
#linkc p:hover
{
    cursor: pointer;
    opacity: 50%;
}
#linkc a
{
    text-decoration: none;
    color: white;
}

#bestc
{
    padding-block: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.bestctitle
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bestctitle p
{
    margin: 0;
    margin-bottom: 70px;
    padding: 0;
    font-size: 40px;
}
.bestcard
{
    width: 300px;
    height: 300px;
    margin-inline: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    transition: transform 0.3s;
    /* background-color: rgb(231, 231, 231); */
}
.bestcard:hover
{
    cursor: pointer;
    transform: scale(105%);
}
.bestcard img
{
    width: 100%;
    height: 80%;
}
.bestcard p
{
    font-size: 20px;
    margin-right: 20px;
}
#aboutc
{
    width: 100%;
    padding-block: 300px;
    display: flex;
    justify-content: center;
    background-image: url(img/head3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;    
}
#aboutcfilter
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: invert(35%);
}
#aboutc p
{
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
    z-index: 1;
}

#storec
{
    width: 100%;
    padding-block: 150px;  
    display: flex;  
    justify-content: center;
}
#substorec1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#storectitle
{
    width: 100%;
    display: flex;
    justify-content: center;
}
#storectitle p
{
    margin: 0;
    margin-bottom: 70px;
    padding: 0;
    font-size: 40px;
}
.substorec2
{    
    margin-inline: 10px;
}
.substorec2 p
{
    font-size: 20px;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s;
}
.substorec2 p:hover
{
    cursor: pointer;
    opacity: 50%;
}
@media(orientation: portrait)
{
    #headc
    {
        height: 30vh;
    }        
    #subheadc, #linkc
    {
        justify-content: center;
    }
    .bestcard
    {
        margin-block: 50px;
    }
    #aboutc p
    {
        font-size: 25px;
        width: 90%;
    }
    #aboutc
    {
        background-attachment: scroll;
        background-size: cover;
    }
    #substorec1
    {
        width: 90%;
    }
}