body
{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #493a5a;
}
/* bagian head */
#headbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 70px;
    position: relative;
    background: #493a5a;
    box-shadow:  20px -20px 26px #3e314d, -20px 20px 26px #544368;
    user-select: none;
}
#headbar p
{
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: white;
}
#sosmedc
{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    /* background-color: rgb(165, 165, 165); */
    display: flex;
    justify-content: flex-start;
    border-top-right-radius: 7px;
    background: #493a5a;
    box-shadow:  6px -6px 11px #3e314d, -6px 6px 11px #544368;
    transition: transform 0.5s;
}
.subsosmedc
{    
    /* background-color: grey; */
    margin-inline: 5px;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
}
.blogbtn
{
    margin-inline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 7px;
    background: #493a5a;
    box-shadow:  6px -6px 11px #3e314d, -6px 6px 11px #544368;
    transition: transform 0.3s;
}
.morebtn
{
    margin-inline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #493a5a;
    box-shadow:  6px -6px 11px #3e314d, -6px 6px 11px #544368;
    transition: transform 0.3s;
}
.morebtn p
{
    font-size: 20px !important;
}
.blogbtn p
{
    font-size: 20px !important;
}
.subsosmedc:hover, .blogbtn:hover, .morebtn:hover, .card:hover
{
    transform: scale(110%);
    cursor: pointer;
}
/* bagian main */
#mainc
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card
{
    width: 550px;
    height: 350px;
    margin: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #493a5a;
    box-shadow:  20px -20px 26px #3e314d, -20px 20px 26px #544368;
    transition: transform 0.3s;
}
.card img
{
    width: 100%;
    height: 80%;
    border-radius: 50px;
}