body
{
    height: 2000px;
    position: relative;
}
.navbar
{
    background-color: white;
}
.jumbotron
{
    padding: 5rem 1rem;
    background-color: rgb(219, 215, 215);
}
#aboutdesc
{
    text-align: justify;
}
.carousel-indicators button 
{
    height: 10px !important;
    width: 10px !important; 
    margin-inline: 10px !important;
    border-radius: 100%;
}
#sosialc
{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    position: fixed;
    top: 70px;
    right: 0;
    transition: transform 0.5s;
    transform: translateX(230px);
    width: 240px; 
    height: 200px; 
    background-color: white; 
    border-bottom-left-radius: 7px; 
    border-top-left-radius: 7px;
    box-shadow: 1px 0px 5px;
    overflow: hidden;
}
#sosialc:hover
{
    transform: translateX(0);
}
.sosialitem
{
    color: white;
    flex-basis: 100%;
}
#footersection
{
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
#footersection svg
{
    position: relative;
    transform: translateY(20px);
    z-index: -10;
}
@media only screen and (orientation: portrait)
{
    #sosialc
    {
        display: none;
    }
}