html
{
    scroll-behavior: smooth;
}

body
{    
    margin: 0;
    /* height: 2200px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* navbar */
#navbar
{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 55px; */
    background-color: white;
    box-shadow: 5px 5px 15px -15px;
    overflow: hidden;
}

#navbar2
{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    /* height: 55px; */
    /* background-color: white; */
    /* box-shadow: 5px 5px 15px -15px; */
    overflow: hidden;
}

#navcontrol
{
    display: none;
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: black;
    border-radius: 7px;
}

#navleftc, #navleftc2
{
    position: relative;
    left: 0;
    width: 50%;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: red; */
}

#navleftc p, #navleftc2 p
{
    margin: 0;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    /* background-color: blue; */
}

#navleftc2 p
{
    margin: 0;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    /* background-color: blue; */
}

#navlogo, #navlogo2
{    
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    margin-left: 10px;
}

#navlogo2
{    
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: 10px;
}

#navrightc, #navrightc2
{
    position: relative;
    right: 0;
    width: 50%;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: blue;    */
}

#navrightc p, #navrightc2 p
{
    margin: 0;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    /* background-color: blue; */
}

#navrightc2 p
{
    margin: 0;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    /* background-color: blue; */
}

#navrightc a:link, a:hover, a:visited, a:active, #navrightc2 a:link, a:hover, a:visited, a:active
{
    color: black;
    text-decoration: none;
}

/* main banner */
#mainbannerc
{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 700px;   
    background-image: url(/img/coffe-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 85%;
    /* overflow: hidden;  */
    box-shadow: 1px 1px 15px -5px;
}

#mainsolid
{
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 700px;   
    border-bottom-right-radius: 85%;
}

#maindesc
{
    z-index: 0;
    color: white;
    text-align: center;
    font-size: 27px;
}

/* promotion banner */
#promotion
{
    /* background-color: red; */
    padding-block: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#promotittle
{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}

#promotittle h2
{
    margin: 0;
    /* background-color: blue; */
}

.promocard
{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    box-shadow: 1px 5px 15px -10px;
    border-radius: 10px;
    width: 280px;
    /* height: 320px; */
    margin: 10px;
    background-color: white;
    overflow: hidden;
    transition: transform 0.3s;
}

.promocard:hover
{
    transform: scale(120%);
}

#card1 img
{
    width: 100%;
    height: 270px;
}

.carddesc
{
    padding-block: 40px;
    width: 100%;    
    /* background-color: red; */
}

.carddesc p
{
    margin: 0;
    font-size: 15px;
    text-align: center;
    /* background-color: blue; */
}

.cardbtn
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(204, 202, 202);
    width: 100px;
    height: 40px;
    border-radius: 7px;
    color: rgb(0, 0, 0);
    margin-block: 5px;
}

/* decor1 */
#decor1
{
    /* background-color: rgb(230, 230, 230); */
    /* box-shadow: -4px 2px 13px -10px; */
    padding-block: 200px;
    display: flex;
    justify-content: center;
    /* border-top-left-radius: 85%; */
    /* border-bottom-right-radius: 35%; */
}

#decor1 p
{
    margin: 0;
    width: 400px;
    text-align: center;
    font-size: 20px;
    /* background-color: red; */
}

#gallery
{
    /* width: 100%; */
    /* background-color: red; */
    padding-top: 150px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;   
}

#subgal1
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

#subgal1 p
{
    font-size: 20px;
    width: 400px;
    text-align: center;
}

#subgal2
{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: blueviolet; */
}

#img1
{
    width: 340px;
    height: 340px;
    border-radius: 15px;
}

#img2
{
    display: flex;
    flex-wrap: wrap;
    width: 170px;
    /* background-color: red; */
}

#img2 img
{
    margin: 3px;
    width: 170px;
    height: 170px;
    border-radius: 15px;
}

.dummypart
{
    width: 100%;
    height: 200px;    
}

#footerc
{
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
}

#footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    padding-block: 20px;
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footerpc
{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footerpc p
{
    /* width: 400px; */
    /* background-color: blue; */
}

#darksw
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 7px;
}

#darkswp
{
    color: white;
    font-size: 13px;
}

@media only screen and (orientation: portrait)
{
    #navbar
    {
        z-index: 3;
        position: fixed;
        top: 0;
        box-shadow: 1px 1px 15px -7px;
    }

    #navbar2
    {
        display: none;
    }

    #navleftc
    {
        width: 100%;
    }

    #navlogo
    {            
        margin-top: 10px;
    }

    #navcontrol
    {
        display: flex;
        margin-top: 10px;
        margin-right: 10px;
    }

    #navrightc
    {
        position: static;
        margin-top: 10px;
        width: 100%;
        height: 0;
        flex-wrap: wrap;
        align-content: flex-start;
        transition: height 0.3s;        
    }

    #navrightc a
    {
        /* background-color: rgb(240, 240, 240); */
        width: 100%;
        padding-block: 10px;
        margin-block: 1px;
        /* background-color: blue; */
    } 
    
    #mainbannerc
    {
        background-attachment: scroll;
        border-bottom-right-radius: 0;
    }

    #mainsolid
    {
        border-bottom-right-radius: 0;
    }

    #maindesc
    {
        font-size: 20px;
        padding-inline: 20px;
    }

    .promocard
    {
        width: 340px;
    }

    #card1 img
    {
        /* width: 100%; */
        /* height: 270px; */
        width: 100%;
        height: 350px;
    }

    #decor1
    {    
        border-top-left-radius: 0;
    }

    #decor1 p
    {
        padding-inline: 50px;
    }

    #subgal1, #subgal2
    {
        width: 100%;
        justify-content: center;        
    }

    #img2
    {
        width: 360px;
        height: 170px;
        /* background-color: red; */
        justify-content: center;
    }

    #footer
    {
        width: 270px;
    }

    .footerpc p
    {
        font-size: 12px;
    }
}